.container {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	width: 60%;
	margin: 0px auto;
	padding-top: 15%;
	padding-bottom: 100%;
}

.site_header {
	grid-area: 1 / 1 / 2 / 3;
}

article {
	grid-area: 2 / 1 / 3 / 3;
}

footer {
	grid-area: 3 / 1 / 4 / 3;
}

/*------------------------*/

@media screen and (max-width: 768px) {

	.container {
		width: 80%;
	}

}

@media screen and (max-width: 425px) {

	.container {
		width: 90%;
		padding-top: 50%;
	}

}
